MiniTwit/.vagrant/bundler/global.sol
MiniTwit/.vagrant/machines/default/digital_ocean/vagrant_cwd
MiniTwit/.vagrant/machines/droplet1/digital_ocean/action_provision
MiniTwit/.vagrant/machines/droplet1/digital_ocean/box_meta
MiniTwit/.vagrant/machines/droplet1/digital_ocean/creator_uid
MiniTwit/.vagrant/machines/droplet1/digital_ocean/id
MiniTwit/.vagrant/machines/droplet1/digital_ocean/index_uuid
MiniTwit/.vagrant/machines/droplet1/digital_ocean/synced_folders
MiniTwit/.vagrant/machines/droplet1/digital_ocean/vagrant_cwd
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/action_provision
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/box_meta
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/creator_uid
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/id
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/index_uuid
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/synced_folders
MiniTwit/.vagrant/machines/minitwit1/digital_ocean/vagrant_cwd
MiniTwit/.vagrant/rgloader/loader.rb
