<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:block="title">Sign Up</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" href="/styles/style.css" media="all"/>
</head>
<body>
<div th:insert="layout.html :: header"></div>
<h2>Sign Up</h2>
<div th:if="${error}" class="error">
    <strong>Error:</strong> <span th:text="${error}"></span>
</div>
<form action="#" th:action="@{/register}" th:object="${register}" method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" name="username" size="30" th:value="${username}"/></dd>
        <dt>E-Mail:</dt>
        <dd><input type="text" name="email" size="30" th:value="${email}"/></dd>
        <dt>Password:</dt>
        <dd><input type="password" name="password" size="30" th:value="${password}"/></dd>
        <dt>Password (repeat):</dt>
        <dd><input type="password" name="password2" size="30" th:value="${password2}"/></dd>
    </dl>
    <div class="actions"><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>